<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Génération textuelle avec GPT-2</title>
    <meta name="title" content="Génération textuelle avec GPT-2" />
    <meta name="description" content="Génération textuelle avec GPT-2" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <span class="icon is-large">
        <span class="fa-stack">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-robot fa-stack-1x fa-inverse"></i>
        </span>
      </span>
      <div class="brand-text is-family-code is-uppercase has-text-weight-bold">THÉÂTRE CLASSIQUE</div>
      <!-- <div class="navbar-item">Génération textuelle avec GPT-2.</div> -->
    </div>
    <div id="navbarBasicExample" class="navbar-menu is-active">
      <div class="navbar-start">
        <!-- <div class="navbar-item"> -->
        <!--   Génération textuelle avec GPT-2. -->
        <!-- </div> -->
      </div>
      <div class="navbar-end">
        <div class="navbar-item is-hidden-touch">
          <div class="buttons">
          </div>
        </div>
      </div>
    </div>
  </nav>

  <body>

    <section id="main" class="section">

      <div class="container">

        <div class="model-output-container">

          <div id="model-output" class="subtitle"></div>

        </div>

          <div class="control-panel">

            <form id="gen-form">

              <div class="flex-column">

                <div class="text-controls">

                  <div class="control">
                    <textarea id="character" class="textarea" type="text" placeholder="LE COMTE." rows="1"></textarea>
                    <!-- <span class="help"><em>Qui es-tu ?</em></span> -->
                  </div>

                  <div class="control">
                    <textarea id="prefix" class="textarea" type="text" placeholder="Enfin vous l'emportez, et la faveur du Roi&#10;Vous élève en un rang qui n'était dû qu'à moi,&#10;Il vous fait Gouverneur du Prince de Castille." rows="3"></textarea>
                    <!-- <span class="help"><em>Ta réplique ! (Ctrl+Enter).</em></span> -->
                  </div>

                </div>

                <div id="buttons" class="button-controls">

                  <button type="submit" name="submit" id="generate-text" class="buttonz model-generate">
                  <!-- <button type="submit" name="submit" id="generate-text" class="button is-outlined is-block is-link is-large"> -->
                    <span class="icon">
                      <i class="fas fa-md fa-pen"></i>
                    </span>
                  </button>
                  <button id="clear-text" class="buttonz model-reset">
                  <!-- <button id="clear-text" class="button is-outlined is-block is-danger is-large"> -->
                    <span class="icon">
                      <i class="fas fa-md fa-redo-alt"></i>
                    </span>
                  </button>

                </div>

              </div>

            </form>
          </div>

        </div>
      </div>
    </section>

  </body>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>

  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js">
  </script>

  <script src="../static/js/client.js"></script>

</html>
