<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Génération textuelle avec GPT-2</title>
    <meta name="title" content="Génération textuelle avec GPT-2" />
    <meta name="description" content="Génération textuelle avec GPT-2" />
    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <nav class="my-navbar" role="navigation" aria-label="main navigation">
    <div class="nav-title">
      <div class="title-text">THÉÂTRE CLASSIQUE</div>
    </div>
  </nav>


  <body>

    <div class="container">
      <div id="output" class="model-output-container">
        <div id="model-output" class="subtitle"></div>
      </div>
    </div>

    <div class="control-panel">

      <form id="gen-form">

        <div class="flex-column">

          <div class="text-controls">
            <div class="control">
              <textarea id="character" class="textarea" type="text" placeholder="LE COMTE." rows="1"></textarea>
              <!-- <span class="help"><em>Qui es-tu ?</em></span> -->
            </div>

            <div class="control">
              <textarea id="prefix" class="textarea" type="text" placeholder="Enfin vous l'emportez, et la faveur du Roi&#10;Vous élève en un rang qui n'était dû qu'à moi,&#10;Il vous fait Gouverneur du Prince de Castille." rows="3"></textarea>
              <!-- <span class="help"><em>Ta réplique ! (Ctrl+Enter).</em></span> -->
            </div>
          </div>

          <div id="buttons" class="button-controls">

            <button type="submit" name="submit" id="generate-text" class="buttonz model-generate">
              <span class="icon icon-send">
                <i class="fas fa-angle-double-right"></i>
              </span>
            </button>

            <button id="clear-text" class="buttonz model-reset">
              <span class="icon icon-reset">
                <i class="fas fa-md fa-redo-alt"></i>
              </span>
            </button>

          </div>
        </div>

      </form>

    </div>

  </body>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
  <script src="../static/js/client.js"></script>

</html>
